<?xml version="1.0"?>
<robot>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
            <angular_velocity>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </z>
            </angular_velocity>
            <linear_acceleration>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </z>
            </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

    <!-- <gazebo reference="base_link">
        <turnGravityOff>false</turnGravityOff>
    </gazebo> -->

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo> -->

    <!-- <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo> -->

    <!-- FL leg -->
    <gazebo reference="lf_hip_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>

    </gazebo>
    <gazebo reference="lf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="lf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="lf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="rf_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rf_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rf_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="rf_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="lh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="lh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="lh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="lh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="rh_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>
    <gazebo reference="rh_upper_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>
    <gazebo reference="rh_lower_leg_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="rh_foot_link">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <kp>10000.0</kp>
        <kd>1.0</kd>
    </gazebo>

    <gazebo>
        <plugin filename="gz_ros2_control-system"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>/home/taehyun/ros2_ws/install/go2_description/share/go2_description/config/ros_control/gz_ros2_control.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
